.BGdarkGrey {
  background: var(--clr-darkgrey);
}

.pictureBlockSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.pictureBlockContainer {
  width: 118px;
  height: 118px;
  margin: 18px 8px 0 8px;
}

.pictureBlock {
  width: 100%;
  height: 100%;
  border-radius: 18px;
}

@media screen and (min-width: 680px) {
  .pictureBlockSection {
    width: auto;
  }
  .pictureBlockContainer {
    width: 138px;
    height: 138px;
  }
}

/* neon Display Section */

.neonDisplaySection {
  width: 100%;
  /* height: 1000px; */
  margin-top: 38px;
  padding-bottom: 88px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: inset 1px 1px 88px rgba(113, 75, 125, 0.88);
  background: url("../public/Images/Steel_display.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.displayTitle {
  margin-top: 38px;
  font-size: 48px;
  color: #87848d;
}

@media screen and (min-width: 680px) {
  .displayTitle {
    font-size: 58px;
  }
}

/* slider in another css */

/* psuedo gallery box section */

.galleryImagesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.galleryImageContainer {
  width: 98%;
  margin-top: 18px;
  display: flex;
  justify-content: space-around;
  box-shadow: var(--sfx-lightShadow);
}

.galleryImageContainer > * + * {
  margin-left: 20px;
}

.galleryImage {
  width: 100%;
  height: 100%;
}

.ImageContainerVerticalSmall {
  width: 50%;
  position: relative;
}

.ImageContainerHorizontalBig {
  position: relative;
}

.ImageContainerVerticalBig {
  position: relative;
}

.galleryDescriptionFrame {
  width: 100%;
  height: 100%;
  color: var(--clr-darkgrey);
  font-size: 18px;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
}

.galleryDescriptionFrame:hover {
  background: rgba(198, 198, 198, 0.68);
  opacity: 1;
}

.galleryDescriptionFrametitle {
  font-weight: bold;
  margin: 8px 0;
}

@media screen and (min-width: 680px) {
  .galleryDescriptionFrametitle {
    font-size: 38px;
  }
  .galleryDescriptionFrameText {
    font-size: 22px;
  }
}

/* picture blocks section */
@media (min-width: 980px) {
  .pictureBlockSection {
    width: 680px;
  }

  .pictureBlockContainer {
    width: 118px;
    height: 118px;
  }
}

/* neon display section */

@media (min-width: 980px) {
  .displayTitle {
    font-size: 2.8rem;
  }
  /* gallery image section */
  .galleryImagesContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: auto auto; */
    /* border: blue 1px solid; */
  }
  .galleryImageContainer {
    width: 98;
    height: auto;
    /* border: red 1px solid; */
  }
  .verticalSmall {
    grid-row: auto/span 1;
  }
  .horizontalSmall {
    grid-row: auto/span 1;
  }

  .verticalBig {
    grid-row: auto/span 2;
  }
}

@media (min-width: 1480px) {
  .pictureBlockSection {
    width: 1280px;
  }
  .pictureBlockContainer {
    width: 148px;
    height: 148px;
  }
  .galleryDescriptionFrametitle {
    font-size: 3.38rem;
  }
  .galleryDescriptionFrameText {
    font-size: 1.8rem;
  }
}
