/* slider in another css */

.BGdarkGrey {
  background: var(--clr-darkgrey);
}
/* gallery hero section */
.galleryHeroSection {
  width: 100%;
  margin: 18px 0;
  display: flex;
  justify-content: center;
}

.galleryHeroImageContainer {
  width: 88%;
  max-width: 888px;
  height: 380px;
  position: relative;
  box-shadow: var(--sfx-shadow);
}

.galleryHeroImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.glassOverlay {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  transition: all 280ms ease-out;
}

.glassOverlay:hover {
  opacity: 1;
}

/* neon Display Section */

.neonDisplaySection {
  width: 100%;
  margin-top: 38px;
  padding-bottom: 88px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: inset 1px 1px 88px rgba(113, 75, 125, 0.88);
  background: url("../public/Images/Steel_display.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.displayTitle {
  margin-top: 38px;
  font-size: 48px;
  color: #87848d;
}

@media screen and (min-width: 680px) {
  .displayTitle {
    font-size: 58px;
  }
}

/* psuedo gallery box section */

.galleryImagesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.galleryImageContainer {
  width: 98%;
  margin-top: 18px;
  display: flex;
  justify-content: space-around;
  box-shadow: var(--sfx-lightShadow);
}

.galleryImageContainer > * + * {
  margin-left: 20px;
}

.galleryImage {
  width: 100%;
  height: 100%;
}

.ImageContainerVerticalSmall {
  width: 50%;
  position: relative;
}

.ImageContainerHorizontalBig {
  position: relative;
}

.ImageContainerVerticalBig {
  position: relative;
}

.galleryDescriptionFrame {
  width: 100%;
  height: 100%;
  color: var(--clr-darkgrey);
  font-size: 18px;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
}

.galleryDescriptionFrame:hover {
  background: rgba(198, 198, 198, 0.68);
  opacity: 1;
}

.galleryDescriptionFrametitle {
  font-size: 1.18rem;
  font-weight: bold;
  margin: 8px 0;
}

.galleryDescriptionFrameText {
  font-size: 0.88rem;
}

@media screen and (min-width: 680px) {
  .galleryDescriptionFrametitle {
    font-size: 38px;
  }
  .galleryDescriptionFrameText {
    font-size: 22px;
  }
}

/* neon display section */

@media (min-width: 980px) {
  .displayTitle {
    font-size: 2.8rem;
  }

  /* gallery image section */
  .galleryImagesContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .galleryImageContainer {
    width: 98;
    height: auto;
  }
  .verticalSmall {
    grid-row: auto/span 1;
  }
  .horizontalSmall {
    grid-row: auto/span 1;
  }

  .verticalBig {
    grid-row: auto/span 2;
  }
}

@media (min-width: 1480px) {
  .galleryDescriptionFrametitle {
    font-size: 3.38rem;
  }
  .galleryDescriptionFrameText {
    font-size: 1.8rem;
  }
}
