/* hero section */

.heroSection {
  width: 100%;
  height: 88vh;
  background-image: url("../public/Images/Restaurant_front.jpg");
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: cover;
}

.heroSectionContainer {
  height: 100%;
  /* font-family: var(--f-JS); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heroTitle {
  max-width: 88vw;
  font-size: 3.8rem;
  font-weight: bold;
  font-family: var(--f-JS);
}
.heroSubTitle {
  max-width: 68vw;
  font-size: 1.38rem;
  font-weight: bold;
  margin-top: 1.8rem;
  font-family: var(--f-JS);
}
.navButtonContainer {
  margin-top: 0.8rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.navButton {
  margin: 3.8px 8px;
  color: #c888d8;
  font-size: 1.18rem;
  font-style: italic;
}
/* .heroSection {
  width: 100%;
  margin: 18px 0;
  display: flex;
  justify-content: center;
}

.heroImageContainer {
  width: 93.8%;
  height: 380px;
  box-shadow: var(--sfx-shadow);
}

.heroImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

/* intro section */

.introSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.introContainer {
  width: 100%;
  /* min-height: 268px; */
  color: var(--clr-darkgrey);
  padding: 18px;
  padding-bottom: 88px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--clr-primepurple);
  background: linear-gradient(
    180deg,
    rgba(113, 76, 125, 0.48) 0%,
    #714c7d 18.64%,
    #714c7d 80.11%,
    rgba(113, 76, 125, 0.48) 100%
  );
  /* border: 8px solid black; */
}

@media screen and (min-width: 680px) {
  .introSection {
    flex-direction: row;
    justify-content: flex-start;
  }

  .introContainer {
    width: 58%;
  }
}

.introText {
  width: 88%;
  padding: 38px 1%;
}

.introContainerButton {
  color: var(--clr-darkgrey);
  /* font-size: 20px; */
  background: var(--clr-lightpurple);
}

.introImageContainer {
  width: 68%;
  position: relative;
  bottom: 3.8rem;
  box-shadow: var(--sfx-shadow);
  /* background: rgba(198, 198, 198, 0.68); */
}

.introImage {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 680px) {
  .introSection {
    margin-bottom: 38px;
  }

  .introImageContainer {
    height: 100%;
    left: -0.8rem;
    bottom: 1.8rem;
    /* border: 1px solid red; */
  }
  .introImage {
    width: 102%;
    max-width: 48rem;
    min-height: 28rem;
  }
}
/* description Section */

.descriptionSection {
  width: 100%;
  padding-bottom: 138px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(62, 62, 62, 18%);
}

.descriptionHeading {
  width: 100%;
  text-align: center;
  overflow: visible;
  font-size: 38px;
  font-family: var(--f-JS);
  font-weight: bold;
  padding: 18px 0;
}

.descriptionCardContainer {
  width: 98%;
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 680px) {
  .descriptionCardContainer {
    width: 98%;
    max-width: 1380px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

.descriptionCard {
  width: 93.8%;
  min-height: 398px;
  margin-top: 18px;
  padding: 18px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--clr-darkgrey);
}

.descriptionTitle {
  max-width: 18ch;
  margin: 18px 0;
  font-family: var(--f-JS);
  font-size: 28px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  position: relative;
}

@media screen and (min-width: 680px) {
  .descriptionCard {
    width: 31%;
  }
  .descriptionTitle {
    width: 88%;
  }
}

.lineProperties {
  bottom: -18px;
  height: 2.8px;
  width: 80%;
}

.descriprtionText {
  margin: 18px 8px;
  line-height: 38px;
  font-family: var(--f-JS);
}

@media screen and (min-width: 680px) {
  .descriprtionText {
    font-size: 12.8px;
    line-height: 28px;
  }
}

/* Blackboard Section */
/* blackboardsection height requires manual changing */
.blackboardSection {
  height: auto;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.blackboardBG {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  /* background: url("../public/Images/Red_bar.jpg");
  background-repeat: no-repeat; */
  /* background-attachment: fixed; */
  /* background-size: cover; */
  filter: blur(8px);
}

.blackboardContainer {
  width: 93.8%;
  max-width: 680px;
  margin: 88px 0;
  /* padding: 18px 0; */
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../public/Images/purprle_board.png");
  background-size: cover;
}

.blackboard {
  width: 93.8%;
  min-height: 480px;
  margin: 8px;
  padding-bottom: 188px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("../public/Images/Black_board.jpg");
  background-size: cover;
}

.blackboardTitle {
  width: 16ch;
  font-size: 18.8px;
  font-family: var(--f-FtG);
  margin: 18px;
}

.blackboardTextContainer {
  width: 88%;
  /* border: 2px solid red; */
}

.blackboardHeading {
  font-size: 24px;
  font-family: var(--f-FtG);
  padding: 8px;
}

.chalkYellow {
  -webkit-text-stroke: rgb(240, 240, 144) 0.1px;
}

.chalkPurple {
  -webkit-text-stroke: purple 0.1px;
}

.chalkBlue {
  -webkit-text-stroke: blue 0.1px;
}

.blackboardText {
  font-size: 18px;
  font-family: var(--f-FtG);
  padding: 8px;
}

@media screen and (min-width: 680px) {
  .blackboardTitle {
    width: auto;
    font-size: 28px;
  }
  .blackboardHeading {
    font-size: 33.8px;
    margin: 38px 0;
  }
  .blackboardText {
    font-size: 20px;
  }
}

/* Menu Section */

.menuSection {
  width: 100%;
  color: var(--clr-darkgrey);
  font-family: var(--f-JS);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--clr-purplewhite);
}

.menuSectionImageContainer {
  width: 100%;
}

.menuSectionImage {
  width: 100%;
  height: 100%;
}

.menuSectionBoldText {
  width: 88%;
  font-size: 28px;
  padding: 18px 0;
}
.menuSectionText {
  font-size: 16px;
}

@media screen and (min-width: 680px) {
  .menuSectionBoldText {
    font-size: 2.38rem;
    margin-top: 38px;
  }
  .menuSectionText {
    width: 88%;
    font-size: 22px;
  }
}

.menuSectionButton {
  color: var(--clr-darkgrey);
  margin: 38px 0 38px 0;
  border: 2px solid var(--clr-primepurple);
}

/* gallery section */

.gallerySection {
  width: 100%;
  color: var(--clr-darkgrey);
  font-family: var(--f-JS);
  margin-top: 58px;
  background: var(--clr-primepurple);
}

.gallerySectionContainer {
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallerySectionImageContainer {
  width: 58%;
  position: relative;
  top: -28px;
  box-shadow: var(--sfx-lightShadow);
  background-color: var(--clr-darkgrey);
}

.gallerySectionImage {
  width: 100%;
}
.gallerySectionTextsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallerySectionTitle {
  font-size: 36px;
}

.gallerySectionHeading {
  padding-top: 28px;
  font-size: 28px;
}

.gallerySectionButton {
  color: var(--clr-darkgrey);
  font-size: 28px;
  font-family: var(--f-JS);
  margin: 38px 0 68px 0;
  background-color: var(--clr-lightpurple);
}

@media screen and (min-width: 680px) {
  .heroTitle {
    font-size: 4.8rem;
  }
  .heroSubTitle {
    font-size: 1.8rem;
  }
  .navigationButton {
    font-size: 1.68rem;
  }
  .gallerySectionContainer {
    height: 28rem;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .gallerySectionTextsContainer {
    width: 48%;
  }

  .gallerySectionImageContainer {
    width: 38%;
    height: 108%;
    top: 0.8px;
  }

  .gallerySectionImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .gallerySectionImage {
    width: 100%;
  }
}

/* intro section */
@media screen and (min-width: 980px) {
  .introText {
    line-height: 34px;
  }
  .descriptionCardContainer {
    width: 80%;
  }
  .descriprtionText {
    font-size: 17px;
    padding: 0 0.8rem;
  }
  .menuSectionImageContainer {
    height: 63.8vh;
  }
  .menuSectionImage {
    object-fit: cover;
  }
  .menuSectionText {
    font-size: 1.58rem;
  }
  .gallerySectionContainer {
    max-width: 80rem;
  }
  .gallerySectionButton {
    margin-bottom: 0;
  }
}

@media (min-width: 1280px) {
  .introSection {
    height: 68vh;
    max-height: 1188px;
    min-height: 30rem;
  }
  .introContainer {
    height: 100%;
    width: 48%;
    padding-bottom: 0;
    justify-content: center;
  }

  .introImageContainer {
    height: 108%;
    width: 52%;
    bottom: 0;
  }
  .introImage {
    max-width: none;
  }
  .descriptionTitle {
    width: 88%;
    /* margin-top: 8px; */
    font-size: 2rem;
  }
  .descriprtionText {
    font-size: 1.18rem;
    line-height: 1.8rem;
  }
  .iconContainer {
    margin-top: 18px;
  }
}

@media (min-width: 1480px) {
  .introText {
    line-height: 2.38rem;
  }
  .introContainerButton {
    margin-top: 38px;
  }
  .descriptionCardContainer {
    /* height: 68vh; */
    max-width: none;
  }

  .descriptionHeading {
    margin-top: 18px;
    font-size: 3.88rem;
  }
  .descriptionTitle {
    font-size: 3.18rem;
    margin-top: 38px;
  }

  .descriprtionText {
    font-size: 1.68rem;
    line-height: 2.8rem;
  }
  .iconContainer {
    margin-top: 1.8rem;
  }
  .menuSectionText {
    font-size: 1.8rem;
  }
  .gallerySectionContainer {
    height: 580px;
  }
  .gallerySectionTitle {
    font-size: 2.38rem;
  }
  .gallerySectionHeading {
    font-size: 1.8rem;
  }
}
