@font-face {
  font-family: "Josefin Sans";
  src: url(./Fonts/JosefinSans-Regular.ttf);
}

@font-face {
  font-family: "Fredericka the Great";
  src: url(./Fonts/FrederickatheGreat-Regular.ttf);
}

:root {
  --clr-darkgrey: #181818;
  --clr-primepurple: #714c7d;
  --clr-lightpurple: #9b709e;
  --clr-purplewhite: #e8e4e4;

  --sfx-shadow: 8px 18px 18px 10px rgba(0, 0, 0, 0.38);
  --sfx-lightShadow: 0 3px 30px 1px rgba(0, 0, 0, 0.38);
  --sfx-coolshadow: 0 50px 100px 0 rgba(0, 0, 0, 0.38);

  --btn-height: 48px;
  --btn-width: 188px;

  --f-JS: "Josefin Sans";
  --f-FtG: "Fredericka the Great";
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  text-align: center;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("Maxime_background.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h2 {
  font-size: 38px;
  font-family: var(--f-JS);
}
p {
  font-size: 18px;
}

@media screen and (min-width: 680px) {
  h2 {
    font-size: 48px;
  }
  p {
    font-size: 22px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.webpageContainer {
  margin-inline: auto;
  max-width: 2180px;
  padding: 118px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 980px) {
  .webpageContainer {
    padding: 12.8vh 0 0 0;
  }
}

.purpleLine {
  position: absolute;
  background-color: var(--clr-primepurple);
}

.navigationButton {
  width: 188px;
  height: 48px;
  font-family: var(--f-JS);
  font-size: 20px;
  border-radius: 8px;
  box-shadow: var(--sfx-lightShadow);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 680px) {
  .navigationButton {
    width: 238px;
    height: 68px;
    font-size: 28px;
  }
}

@media (min-width: 980px) {
  h2 {
    font-size: 3.8rem;
  }

  .navigationButton {
    font-size: 1.58rem;
  }
}

@media (min-width: 1280px) {
  p {
    font-size: 1.8rem;
  }
  .navigationButton {
    width: 288px;
    height: 68px;
    font-size: 1.88rem;
  }
}

@media (min-width: 1480px) {
  h2 {
    font-size: 4.8rem;
  }
  p {
    font-size: 1.8rem;
  }
  .navigationButton {
    font-size: 2.38rem;
    width: 338px;
    height: 108px;
  }
}
