.menuUISection {
  display: flex;
  flex-direction: column;
}

.filterSection {
  padding-bottom: 48px;
  background-color: #f9eded;
}

.filterButtonsContainer {
  width: 98%;
  padding-top: 18px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.primaryFilterButton {
  color: var(--clr-primepurple);
  margin: 0 18px 0 8px;
  font-size: 28px;
  font-weight: bold;
  font-style: italic;
  border: transparent;
  border-bottom: solid 1.8px var(--clr-primepurple);
  background-color: transparent;
  cursor: pointer;
}
.secondaryFilterButtonsContainer {
  width: 98%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.secondaryFilterButton {
  color: var(--clr-primepurple);
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  margin: 8px 8px 0 8px;
  border: transparent;
  border-bottom: solid 1.8px var(--clr-primepurple);
  background-color: transparent;
  cursor: pointer;
}

@media screen and (min-width: 680px) {
  .menuUISection {
    flex-direction: row;
  }
  .filterSection {
    width: 58%;
    height: 800px;
    overflow: auto;
    margin: 0 18px 88px 18px;
    padding-bottom: 188px;
    position: sticky;
    top: 138px;
  }

  .filterButtonsContainer {
    flex-direction: column;
    align-items: center;
    /* border: red 2px solid; */
  }

  .primaryFilterButton {
    display: block;
    margin: 8px;
    /* border: red 2px solid; */
  }

  .secondaryFilterButtonsContainer {
    flex-direction: column;
    align-items: center;
  }

  .secondaryFilterButton {
    margin: 8px 0;
  }
}

/* menu item filter section */
@media (min-width: 980px) {
  .filterSection {
    width: 288px;
    height: 1%;
    margin-top: 38px;
    position: static;
  }
}
@media (min-width: 1280px) {
  .menuUISection {
    width: 89%;
  }
}
@media (min-width: 1480px) {
  .primaryFilterButton {
    font-size: 2.18rem;
  }
  .secondaryFilterButton {
    font-size: 1.38rem;
  }
}
