.navBarSection {
  width: 100vw;
  height: 118px;
  position: fixed;
  z-index: 8;
  background: #181818;
}

.navBar {
  width: 100%;
  height: 88%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

@media screen and (min-width: 680px) {
  .navBar {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
  }
}

.logoContainer {
  width: 200px;
  margin: 0 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoContainer > img {
  width: 100%;
  height: 100%;
  z-index: 1;
}

.logoContainer > img {
  animation: disapear-appear 8800ms;
  animation-delay: 1.8s;
}

.logoContainer > .chineseName {
  position: absolute;
  font-size: 2.38rem;
  z-index: 0;
}

@media screen and (min-width: 680px) {
  .logoContainer {
    width: 280px;
    height: auto;
    padding-bottom: 0.8rem;
  }

  .logoContainer > .chineseName {
    font-size: 3.38rem;
  }
}

@keyframes disapear-appear {
  0% {
    opacity: 100%;
  }

  38% {
    opacity: 0;
  }

  68% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}

.navBtnContainer {
  width: 88%;
  height: auto;
  max-width: 318px;
  display: flex;
  justify-content: space-between;
  /* align-items: flex-start; */
  font-size: 22px;
  /* border: red solid 2px; */
}

.navBtn {
  color: white;
  font-size: 20px;
  font-family: var(--f-JS);
  text-decoration: none;
}

.navBtn:hover {
  border-bottom: solid 2px var(--clr-primepurple);
}

.activeNavBtn {
  border-bottom: solid 2px var(--clr-primepurple);
}

@media screen and (min-width: 680px) {
  .navBtnContainer {
    width: 38vw;
    max-width: none;
    min-width: 318px;
    margin-left: 38px;
    padding-bottom: 0.4rem;
  }
  .navBtn {
    font-size: 23.8px;
  }
}

@media screen and (min-width: 980px) {
  /* 980px is not an error */
  .navBarSection {
    height: 13.8vh;
  }
  .logoContainer {
    width: 200px;
  }
  .logoContainer > .chineseName {
    font-size: 2.38rem;
  }
}

@media (min-width: 1280px) {
  .logoContainer {
    width: 18vw;

    /* border: 10px red solid; */
  }
  .navBtnContainer {
    justify-content: center;
  }
  .navBtn {
    font-size: 1.18em;
    margin: 0 2rem;
  }
}

@media (min-width: 1480px) {
  .logoContainer {
    width: 20rem;
  }
  .navBtn {
    font-size: 1.8rem;
  }
  .logoContainer > .chineseName {
    font-size: 3.8rem;
  }
}
