/* index */
@media (min-width: 980px) {
  h2 {
    font-size: 3.8rem;
  }

  .navigationButton {
    font-size: 1.58rem;
  }
}
/* Nav  */
@media screen and (min-width: 980px) {
  /* 980px is not an error */
  .navBarSection {
    height: 13.8vh;
  }
}

/* INTROPAGE */

/* hero section */
@media screen and (min-width: 980px) {
  .heroSection {
    margin-bottom: 12.8vh;
  }
  .heroImageContainer {
    height: 68vh;
  }
}

/* intro section */
@media screen and (min-width: 980px) {
  .introText {
    line-height: 34px;
  }
}

/* descritpion section */
@media (min-width: 980px) {
  .descriprtionText {
    font-size: 17px;
    padding: 0 1.8rem;
  }
}

/* menu section */
@media (min-width: 980px) {
  .menuSectionImageContainer {
    height: 63.8vh;
  }
  .menuSectionText {
    font-size: 1.58rem;
  }
}

/* gallery section */
@media (min-width: 980px) {
  .gallerySectionContainer {
    max-width: 80rem;
  }
}

/* GALLERY PAGE */
