.swiper {
  width: 98%;
  height: 580px;
  margin: 38px 0;
  border: #181818 8px solid;
  border-radius: 18px;
  box-shadow: var(--sfx-shadow);
}

@media screen and (min-width: 680px) {
  .swiper {
    height: 880px;
  }
}

.sliderContainer {
  width: 100%;
  height: 100%;
  font-family: var(--f-JS);
  display: flex;
  flex-direction: column;
}

.sliderTextContainer {
  min-height: 180px;
  background-color: rgba(112, 102, 102, 1);
  /* border-radius: 8px 8px 0 0; */
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sliderHeading {
  font-size: 28px;
  color: var(--clr-darkgrey);
}

.sliderText {
  margin-top: 18px;
  color: var(--clr-darkgrey);
  font-size: 18px;
}

@media screen and (min-width: 680px) {
  .sliderHeading {
    font-size: 38px;
  }
  .sliderText {
    font-size: 23.8px;
  }
}

.sliderImageContainer {
  height: 288px;
}

@media screen and (min-width: 680px) {
  .sliderImageContainer {
    height: 488px;
  }
}

.sliderImage {
  width: 100%;
  height: 100%;
}

.swiper-pagination-bullet-active {
  background: var(--clr-primepurple);
}

.swiper-button-next,
.swiper-button-next {
  background-color: var(--clr-primepurple);
}

@media (min-width: 980px) {
  .swiper {
    width: 88%;
    height: 488px;
  }
  .sliderContainer {
    flex-direction: row;
  }
  .sliderText {
    width: 80%;
  }
  .sliderImageContainer {
    width: 280%;
    height: 100%;
  }
}

@media (min-width: 1480px) {
  .swiper {
    height: 68vh;
  }
  .sliderHeading {
    font-size: 3.38rem;
  }
  .sliderText {
    font-size: 1.8rem;
    line-height: 2rem;
  }
}
